/* dm-sans-regular - latin */
@font-face {
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    src: url('../assets/fonts/dm-sans-v17-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

header,
main,
footer {
    /*Content Limit*/
    padding: 0rem max(calc(50% - 720px), 0rem);
}

* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: rgb(151, 151, 151);
}